INSTALL
Makefile
Makefile.in
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
stamp-h1
autom4te.cache
cscope.files
cscope.out
compile
*~
tags

zig-cache/
zig-out/
